.edit-message-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
.modal-show {
  display: block;
}
.edit-message-container {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: 60%;
  min-width: 320px;
  max-width: 475px;
  background: var(--chat-color);;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
  border-radius: 4px;
}
.edit-message-container form {
  display: block;
  width: 100%;
  padding: 1em;
}
.edit-message-container h2 {
  width: 100%;
  font-size: 1.35em;
  background: var(--box-color);
  color: var(--border-light);
  display: block;
  padding: .75em 1em .75em 1.5em;
  box-shadow: inset 0px 1px 1px rgba(255,255,255,0.05);
  border: 1px solid #1d1d1d;
  margin: 0;
  cursor: default;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.edit-message-input {
  display: block;
  margin: auto auto;
  width: 100%;
  margin-bottom: 1.5em;
  border: 1px solid #eaeaea;
  color: #757575;
  font-size: 20px;
  border-radius: 4px;
  min-height: 100px;
}
.edit-message-input:focus {
  outline: none;
}
.edit-message-group-button {
  display: flex;
  justify-content: space-evenly;
}
.edit-message-button,
.edit-message-close {
  padding: .5em 2em;
  border: none;
  color: white;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2);
  font-size: 20px;
  background: var(--msg-btn);
  border-radius: 4px;
  cursor: pointer;
}
.edit-message-close {
  background: var(--border-light);
}
.edit-message-button:hover {
  opacity: 0.9;
}
.edit-message-close:hover {
  opacity: 0.9;
}

