:root {
  --body-bg: linear-gradient(135deg, #d4d6d9 0%, #c3cfe2 100%);
  --msg-btn: #477eff;
  --chat-input: #f5f8fc;
  --text-dark: #1a2f45;
  --border-light: #e5e6eb;
  --box-color: #1a233b;
  --msg-input: #f5f8fc;
  --chat-color: #f5f8fc;
  --message-box-1: #fff;
  --message-box-2: #1a233b;
  --divider: #1a233b;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--body-bg);
  font-family: "DM Sans", sans-serif;
}

body .dark {
  --message-box-1: #576c99;
  --message-box-2: #477eff;
  --text-dark: #fff;
  --chat-input: #060415;
  --chat-color: #12172d;
  --msg-input: #12172c;
  --box-color: #060415;
  --border-light: #646464;
  --divider: #fff;
}

#root {
  width: 100%;
  max-width: 867px;
  margin: 25px 10px;
  height: calc(100% - 50px);
}
