@keyframes hot-air {
  0% {
  }
  50% {
    top: 30%;
  }
  100% {
  }
}

@keyframes cloud {
  from {
    left: -100px;
    visibility: visible;
  }
  to {
    left: 100vw;
    visibility: hidden;
  }
}

