.message-input {
  display: flex;
  padding: 10px;
  background: var(--msg-input);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.message-input * {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 1em;
}
.message-input-text {
  flex: 1;
  background-color: var(--chat-input);
  color: var(--text-dark);
  border: 1px solid var(--border-light);
}
.message-input-button {
  margin-left: 10px;
  background: var(--msg-btn);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
  padding: 0 32px 0 10px;
  background-position: center right 8px;
  background-repeat: no-repeat;
  background-size: 14px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cdefs/%3E%3Cpath fill='%23fff' d='M481.508 210.336L68.414 38.926c-17.403-7.222-37.064-4.045-51.309 8.287C2.86 59.547-3.098 78.551 1.558 96.808L38.327 241h180.026c8.284 0 15.001 6.716 15.001 15.001 0 8.284-6.716 15.001-15.001 15.001H38.327L1.558 415.193c-4.656 18.258 1.301 37.262 15.547 49.595 14.274 12.357 33.937 15.495 51.31 8.287l413.094-171.409C500.317 293.862 512 276.364 512 256.001s-11.683-37.862-30.492-45.665z'/%3E%3C/svg%3E");
}
.message-input-button:hover {
  opacity: 0.9;
}
