.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: var(--box-color);
  color: var(--border-light);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.header-logout,
.header-switch-theme {
  cursor: pointer;
}
.header a {
  text-decoration: none;
  color: var(--border-light);
}
