.own-message {
  flex-direction: row-reverse;
}
.own-message .message-block {
  background-color: var(--message-box-2);
  color: #fff;
  position: relative;
}
.own-message .message-user-avatar {
  margin: 0 10px;
}
.message-setting {
  position: absolute;
  top: 0;
  right: 0;
  background: coral;
  display: none;
  flex-wrap: wrap;
  width: 30px;
  height: 100%;
  justify-content: space-around;
}
.message-edit,
.message-delete {
  height: 50%;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.message-edit:hover,
.message-delete:hover {
  background: rgba(0,0,0,0.2);
}

.message-delete > i {
  font-size: 24px;
  padding: 2px;
}
.message-edit > i {
  font-size: 20px;
  padding: 5px 2px;
}
.own-message .message-block:hover > .message-setting {
  display: inline-flex;
}
