.login-form {
  width: 40%;
  min-width: 320px;
  max-width: 475px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
  border-radius: 4px;
  z-index: 100;
}
.login-form form {
  display: block;
  width: 100%;
  padding: 2em;
}
.login-form h2 {
  width: 100%;
  font-size: 1.35em;
  background: var(--box-color);
  color: var(--border-light);
  display: block;
  padding: .75em 1em .75em 1.5em;
  box-shadow: inset 0px 1px 1px rgba(255,255,255,0.05);
  border: 1px solid #1d1d1d;
  margin: 0;
  cursor: default;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.login-form input {
  display: block;
  margin: auto auto;
  width: 100%;
  margin-bottom: 1.5em;
  border: none;
  border-bottom: 1px solid #eaeaea;
  color: #757575;
  font-size: 20px;
}
.login-form input:focus {
  outline: none;
}
.login-form .btn {
  padding: .5em 2em;
  border: none;
  color: white;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2);
  font-size: 20px;
  width: 100%;
  background: var(--msg-btn);
  border-radius: 4px;
  cursor: pointer;
}
.login-form .btn:hover {
  opacity: 0.7;
}
.login-form .btn:focus {
  outline: none;
}
.checkbox {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.5em;
}
#rememberMe {
  width: 15px;
  height: 15px;
  font-size: 32px;
  margin: 0;
  margin-right: 10px;
  cursor: pointer;
}
